@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}

.menu{
    background-color: #1a202c;
    color: #fff;
    height: 70px;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu_links{
    height: 100%;
    transition: transform .05;
    display: flex;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_link:hover{
    background-color: #5e7094;
}

.menu_arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: black;
}

.menu_link--inside{
    padding: 30px 100px 30px 20px;

}

.menu_link--inside:hover{
    background-color: #798499;    
}

.menu-hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.menu-img{
    display: block;
    width: 36px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}

nav{ 
    max-width: 900px;
    margin: auto;
    background-color: #000;
    font-size: 20px;
    margin-top: 50px;
}

.Menu-Horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Menu-Horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.Menu-Horizontal > li:hover{
    background-color: aqua;
}

.Menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:#2d572c;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* header */ 
header{
    width: 100%;
    height: 600px;
    background: #AAFFA9;  
    /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #aaffa89f(140, 100%, 53%, 0.623), #068016),url(../img/UPTREP.jpg); 
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #aaffa89f, #068016),url(../img/UPTREP.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*about us*/

.conocenos{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.conocenos .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d06;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria*/
.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 200px;
    margin-bottom: 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(123, 85%, 36%, 0.829);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 100px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*PERSONAL*/
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d06;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #000;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*servicios*/
.serves-about{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicios-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicios-ind{
    width: 28%;
    text-align: center;
}

.servicios-ind img{
    width: 40%;
}

.servicios-ind h3{
    margin: 10px 0;
}

.servicios-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/
footer{
    background: #015b1c;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #000;
    border-bottom: 3px solid #3DED4F;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #000;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #000;
}

@media screen and (max-width:900px) {
    header{
        background-position: center;
    }
    .contenido-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conocenos .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }

    /*Galeria*/
    .imagen-port{
        width: 34%;
    }

    /*personal*/
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
    /*servicios*/

    .servicios-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicios-ind{
        width: 100%;
        text-align: center;
    }

    .servicios-ind:nth-child(1), .servicios-ind:nth-child(2){
        margin-bottom: 60%;
    }

    .servicios-ind img{
        width: 90%;
    }

}

@media screen and (max-width:500px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-headerh1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /*about us*/

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .conocenos .contenido-textos{
        width: 95%;
    }

    /*galeria*/

    .imagen-port{
        width: 95%;
    }

    /* personal que integra*/

    .cards .car{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /*footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor-footer h4{
        border: none;
    }

    .contenedor-footer p{
        color: #000;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}